---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
---
<div class="p-3">
<h2 class="p-3">Update News</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>