---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set maxPosts = collections.posts.length | min(3) %}
<h2>Update News</h2>
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p class="text-center"><a class="btn danger text-white col-md-4 col-12" href="{{ '/posts/' | url }}">Explore Blog</a></p>
