<div class="row p-3 mt-3">
<div class="col-md-6 p-3"><h4><a href="{{ '/' | url }}">{{home.web}}</a></h4><p>{{home.webcontent}}</p></div>
<div class="col-md-6 p-3"><h4><a href="{{ '/' | url }}">{{home.app}}</a></h4><p>{{home.appcontent}}</p></div>
<div class="col-md-3 p-3"><h4>{{home.contact}}</h4></div>
<div class="col-md-9 p-3"><p>{{home.contactcontent}}<br/>{{home.contact1}}<br/>{{home.contact2}}</p></div>
</div>
