<div class="row">
<div class="col-md-12 p-3">
<h3>Free template</h3>
</div>
<div class="col-md-4 p-3">
<img class="img-fluid rounded" alt="{{template.free1}}" src="{{template.freeimg1}}"/>
</div>
<div class="col-md-8 p-3">
<h4>{{template.free1}}</h4>
<p>{{template.freecontent1}}</p>
<a href="{{template.download1}}" class="btn border-light text-white">Download</a>
<a href="{{template.demo1}}" class="btn border-light text-white">Demo</a>
<a href="{{template.doc1}}" class="btn border-light text-white">Doc</a>
</div>


<div class="col-md-4 p-3">
<img class="img-fluid rounded" alt="{{template.free2}}" src="{{template.freeimg2}}"/>
</div>
<div class="col-md-8 p-3">
<h4>{{template.free2}}</h4>
<p>{{template.freecontent1}}</p>
<a href="{{template.download2}}" class="btn border-light text-white">Download</a>
<a href="{{template.demo2}}" class="btn border-light text-white">Demo</a>
<a href="{{template.doc2}}" class="btn border-light text-white">Doc</a>
</div>

<div class="col-md-4 p-3">
<img class="img-fluid rounded" alt="{{template.free3}}" src="{{template.freeimg3}}"/>
</div>
<div class="col-md-8 p-3">
<h4>{{template.free3}}</h4>
<p>{{template.freecontent3}}</p>
<a href="{{template.download3}}" class="btn border-light text-white">Download</a>
<a href="{{template.demo3}}" class="btn border-light text-white">Demo 1</a>
<a href="{{template.demos3}}" class="btn border-light text-white">Demo 2</a>
<a href="{{template.doc3}}" class="btn border-light text-white">Doc</a>
</div>

<div class="col-md-4 p-3">
<img class="img-fluid rounded" alt="{{template.free4}}" src="{{template.freeimg4}}"/>
</div>
<div class="col-md-8 p-3">
<h4>{{template.free4}}</h4>
<p>{{template.freecontent4}}</p>
<a href="{{template.download4}}" class="btn border-light text-white">Download</a>
<a href="{{template.demo4}}" class="btn border-light text-white">Demo </a>
<a href="{{template.doc4}}" class="btn border-light text-white">Doc</a>
</div>

<div class="col-md-4 p-3">
<img class="img-fluid rounded" alt="{{template.free5}}" src="{{template.freeimg5}}"/>
</div>
<div class="col-md-8 p-3">
<h4>{{template.free5}}</h4>
<p>{{template.freecontent5}}</p>
<a href="{{template.download5}}" class="btn border-light text-white">Download</a>
<a href="{{template.demo5}}" class="btn border-light text-white">Demo </a>
<a href="{{template.doc5}}" class="btn border-light text-white">Doc</a>
</div>


</div>