<div class="row p-3">
<div class="col-md-3 p-3"><h4>{{home.fast}}</h4></div>
<div class="col-md-9 p-3"><p>{{home.fastcontent}}</p></div>
<div class="col-md-3 p-3"><h4>{{home.seo}}</h4></div>
<div class="col-md-9 p-3"><p>{{home.seocontent}}</p></div>
<div class="col-md-3 p-3"><h4>{{home.deploy}}</h4></div>
<div class="col-md-9 p-3"><p>{{home.deploycontent}}</p></div>
<div class="col-md-3 p-3"><h4>{{home.free}}</h4></div>
<div class="col-md-9 p-3"><p>{{home.freecontent}}</p></div>
<div class="col-md-12 p-3 text-center"><a href="https://www.hockeycomputindo.com/2022/06/new-eleventy-11ty-web-modern-template.html" class="btn btn-outline-light btn-lg rounded-pill p-3 col-md-4 col-12">Documentation</a></div>
</div>