<div class="row">
<div class="col-md-12 p-3">
<h3>Premium template</h3>
</div>
<div class="col-md-6 p-3">
<img class="img-fluid rounded" alt="{{template.pro1}}" src="{{template.proimg1}}"/>
<h4>{{template.pro1}}</h4>
<p>{{template.procontent1}}</p>
<a href="{{template.wa}}{{template.pro1}}" class="btn border-light text-white">Info</a>
<a href="{{template.prodemo1}}" class="btn border-light text-white">Demo</a>
</div>
<div class="col-md-6 p-3">
<img class="img-fluid rounded" alt="{{template.pro2}}" src="{{template.proimg2}}"/>
<h4>{{template.pro2}}</h4>
<p>{{template.procontent2}}</p>
<a href="{{template.wa}}{{template.pro2}}" class="btn border-light text-white">Info</a>
<a href="{{template.prodemo2}}" class="btn border-light text-white">Demo</a>
</div>
<div class="col-md-6 p-3">
<img class="img-fluid rounded" alt="{{template.pro3}}" src="{{template.proimg3}}"/>
<h4>{{template.pro3}}</h4>
<p>{{template.procontent3}}</p>
<a href="{{template.wa}}{{template.pro3}}" class="btn border-light text-white">Info</a>
<a href="{{template.prodemo3}}" class="btn border-light text-white">Demo</a>
</div>
<div class="col-md-6 p-3">
<img class="img-fluid rounded" alt="{{template.pro4}}" src="{{template.proimg4}}"/>
<h4>{{template.pro4}}</h4>
<p>{{template.procontent4}}</p>
<a href="{{template.wa}}{{template.pro4}}" class="btn border-light text-white">Info</a>
<a href="{{template.prodemo4}}" class="btn border-light text-white">Demo</a>
</div>
<div class="col-md-6 p-3">
<img class="img-fluid rounded" alt="{{template.pro5}}" src="{{template.proimg5}}"/>
<h4>{{template.pro5}}</h4>
<p>{{template.procontent5}}</p>
<a href="{{template.wa}}{{template.pro5}}" class="btn border-light text-white">Info</a>
<a href="{{template.prodemo5}}" class="btn border-light text-white">Demo</a>
</div>
<div class="col-md-6 p-3">
<img class="img-fluid rounded" alt="{{template.pro6}}" src="{{template.proimg6}}"/>
<h4>{{template.pro6}}</h4>
<p>{{template.procontent6}}</p>
<a href="{{template.wa}}{{template.pro6}}" class="btn border-light text-white">Info</a>
<a href="{{template.prodemo6}}" class="btn border-light text-white">Demo</a>
</div>
</div>