{% include "layouts/widget/head.njk" %}
{% include "layouts/widget/nav.njk" %}
  <div class="row mt-5">
  <!--
  <div class="col-md-12 p-3">
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    </header>
    </div>
    -->
{% include "layouts/widget/blog.njk" %}
{% include "layouts/widget/footer.njk" %}
