{% include "layouts/widget/head.njk" %}
{% include "layouts/widget/nav.njk" %}
{% include "layouts/widget/intro.njk" %}
{% include "layouts/widget/page.njk" %}
{% include "layouts/widget/footer.njk" %}